#SSLSERVER CONFIG FILE
#BEIGN
serial = /dev/ttyO1
port = 8080
PORT_MIDPOINT = 1500
STARBORD_MIDPOINT = 1500
VERTICAL_LEFT = 1500
VERTICAL_RIGHT = 1500
POWER1_PORT = 50
POWER1_STARBORD = 50
POWER1_VERTICAL_LEFT = 50
POWER1_VERTICAL_RIGHT = 50
POWER1_YAW = 10
POWER2_PORT = 60
POWER2_STARBORD = 60
POWER2_VERTICAL_LEFT = 60
POWER2_VERTICAL_RIGHT = 60
POWER2_YAW = 20
POWER3_PORT = 70
POWER3_STARBORD = 70
POWER3_VERTICAL_LEFT = 70
POWER3_VERTICAL_RIGHT = 70
POWER3_YAW = 30
POWER4_PORT = 80
POWER4_STARBORD = 80
POWER4_VERTICAL_LEFT = 80
POWER4_VERTICAL_RIGHT = 80
POWER4_YAW = 40
POWER5_PORT = 100
POWER5_STARBORD = 100
POWER5_VERTICAL_LEFT = 100
POWER5_VERTICAL_RIGHT = 100
POWER5_YAW = 50
#END
